@mixin mobile() {@media (max-width: 480px) {@content;}}
@mixin notMobile() {@media (min-width: 481px) {@content;}}
@mixin desktop() {@media (max-width: 769px) {@content;}}
@mixin desktopLarge() {@media (min-width: 770px) {@content;}}


$background: #41a4ff;
$green: #3afeabd6;
$yellow: #FEFC13;
$red: #E73232;
$text-color: black;

