@use './constants';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html, #root {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: constants.$text-color;
    
    .layout {
        height: 100%;
        width: 1024px;
        max-width: 100%;
        overflow-x: hidden;
    }
}

